body {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.portrait {
    width: 150px;
}

.card {
    text-align: center;
    margin: 0px auto;
    width: 500px;
    padding: 20px;
    display: flex;
    justify-content: space-around;

    background-color: #d8cefe;
    border-color: purple;
    color: #2b2829;
    border-bottom: 6px purple solid;

}
