/* .red {
    background: #c71226;
    height: 100px;
}

.blue {
    background: #0d1b88;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.green {
    background: #397327;
    height: 100px;
} */

.card {
    color: #222222;
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    border: 5px solid violet;
    border-radius: 30px;
    padding: 50px;

}