body {
    margin: 0;
    text-align: center;
    margin: 0px auto;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(blue, pink);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#b-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#b-day {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}


#portrait {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 6px solid #EFB0C9;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    border: 7px solid #EFB0C9;
    border-radius: 10px;
    background-image: url("/birthDay/assets/gift.jpg");
    background-size: cover;
}

#gift-1:hover {
    background-image: url("https://media.giphy.com/media/WRL7YgP42OKns22wRD/giphy.gif");
}

#gift-2:hover {
    background-image: url("https://media.giphy.com/media/g5R9dok94mrIvplmZd/giphy.gif");
}